<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f8f9fa;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Transcript Tools</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-lightning-fill"></i> Experimental</a>
          <a class="nav-link" href="#"><i class="bi bi-database"></i> Save to Database</a>
          <a class="nav-link github-link" href="#" onclick="submitToGithub(); return false;"><i class="bi bi-github"></i> Save to Github Issue</a>
          <a class="nav-link" href="#"><i class="bi bi-graph-up"></i> Analyze</a>
          <a class="nav-link" href="#"><i class="bi bi-book-half"></i> Academic References</a>
          <a class="nav-link" href="#"><i class="bi bi-pencil-square"></i> Write a Paper</a>
        </div>
      </div>
    </div>
  </nav>
  