<!DOCTYPE html>
<html>
<head>
  <title>Issue Titles</title>
</head>
<body>
  <h1>Issue Titles</h1>
  <ul>
    <% issueTitles.forEach(title => { %>
      <li><%= title %></li>
    <% }); %>
  </ul>
</body>
</html>