<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Page Title</title>

</head>
<body>
  <h1>Transcript</h1>
  <% transcript.forEach(item => { %>
    <p>Text: <%= item.text %>, Start: <%= item.start %>, Duration: <%= item.duration %></p>
  <% }); %>
</body>
</html>