/* menu.css */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #f8f8f8;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .beta {
    margin-left: 10px;
    color: red;
  }
  
  .nav-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 1em;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
  }
  
  /* Styles for screens with a maximum width of 600px */
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-item {
      margin: 0.5em 0;
    }
  }