@media (max-width: 768px) {
    .gridcontainer {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: minmax(0, 100px) repeat(8, 1fr);
        gap: 10px;
        background-color: aquamarine;
        width: 100%;
    }
    .container {
        max-width: 700px;
        padding: 10px;
    }
    .preview {
        margin-top: 10px;
    }
    .preview img {
        max-width: 100%;
        height: auto;
        border-color: #ddd;
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
        padding: 5px;
    }

    .mdmenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2px;
        grid-row-start: 4;
        grid-column-start: 1;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;
    }

    .topmenu {
        display: flex;
        flex-wrap: wrap; /* Enable wrapping */
        justify-content: space-between; /* Adjust spacing */
        gap: 5px; /* Increase gap for mobile readability */
    }

    .topmenu .btn {
        flex: 1 1 calc(50% - 10px); /* Two buttons per row */
        max-width: calc(50% - 10px); /* Prevent buttons from exceeding half the width */
    }

    .griditem table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
    .griditem th, .griditem td {
        display: block;
        text-align: right;
    }
    .griditem th {
        text-align: left;
    }

}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: minmax(0, 100px) repeat(8, 1fr);
    gap: 10px;
    background-color: rgb(111, 116, 114);
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffffc7;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 9;
    margin-top: 50px;
    border-radius: 10px;
    z-index: 1;
    gap: 10px;
}

.previewgrid {
    display: grid;
    gap: 1px;
    grid-template-columns: 10px repeat(5, 1fr);
}

.preview {
    background-color: #ffffff;
    max-width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    overflow: auto;
}

.griditemimg {
    grid-column: span 4;
    grid-column-start: 2;
    grid-column-end: 6;
}

.griditemcode{
    grid-column-start: 2;
    grid-column-end: 6;
    margin-bottom: 10px;
    background-color: #d6e7cc;
    margin-left: 10px;
    padding: 20 20 20 20;
}


.delete-content-button
{
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;

}

.searchbar{
    display: flex;

}

.language-javascript{
    background-color: #d6ead6;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    grid-column-start: 2;
    grid-column-end: 6;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
    display: flex;
}

.language-markdown{
    background-color: #b44343;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    grid-column-start: 2;
    grid-column-end: 6;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
    display: flex;
}


.griditem {
    grid-column-start: 2;
    grid-column-end: 6;
}

.blockquote {
    background-color: #cac7c7;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    
}

iframe{
    grid-column-start: 2;
    grid-column-end: 6;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.preview img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    grid-column: span 2;
}

.btn btn-primary{
    background-color: #a19999;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}
.mdmenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    grid-row-start: 4;
    grid-column-start: 1;
    flex-direction: row;
    margin-top: 10px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.language-markdown {
    background-color: #b44343;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
}

.header-container {
    display: grid;
    gap: 1px;
    grid-template-columns: 100px repeat(3, 1fr);
    grid-template-rows: 60px repeat(1, 1fr);
}

.imgheader img {
    width: 100%;
    border-radius: 10px;
    border-bottom: #ddd solid 2px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.imgheader {
    width: 100%;
    border-radius: 10px;
    border-bottom: #ddd solid 2px;
    grid-column: 1 / -1;
}

.logo {
    position: absolute;
    top: 10px;
    left: 50px;
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
    
}

.pagination {
    margin-top: 10px;
    
    grid-column: 1 / 3;
   
    justify-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
}

.bulletpoint{
    list-style-type: disc;
    color: aqua;
}

.pagination li {
    margin: 0 5px;
}

.FileListfromSearch {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping */
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.card {
    flex: 1 1 18rem; /* Allow flexibility */
}



.card-body .stripe-button {
display: flex;
justify-content: center;
margin-top: 1rem;
}

.list-group {
    display: flex;
    height:250px;
    

}

.list-group-item {
display: flex;
flex-wrap: wrap;
margin: 10px 0; /* Add margin to create space between rows of list-group-items */
padding: 10px;
background-color: #f8f9fa;
border: 1px solid #dee2e6;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s ease;
}
.list-item {
color: #000000;
text-decoration: none;
transition: background-color 0.3s ease;
padding: 10px;
border-radius: 5px;
background-color: #d6e7cc;
border: 1px solid #dee2e6;
margin: 5px; /* Add margin to create space between items */
flex: 1 1 calc(50% - 10px); /* Ensure the items are responsive and have space between them */
box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.list-group-item a.list-item {
    
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #d6e7cc;
    border: 1px solid #dee2e6;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


.list-group-item a.list-item:hover {
    background-color: #d6d8db;
}


.progress-bar-container {
    width: 100%;
    height: 4px;
    background-color: #f0f0f0;
    
    display: none;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4CAF50;
    transition: width 0.5s ease;
    animation: progress-animation 2s infinite ease-in-out;
}

@keyframes progress-animation {
    0% { width: 0%; }
    50% { width: 50%; }
    100% { width: 100%; }
}

/* General table styling */
.griditem {
    margin: 20px 0;
    overflow-x: auto; /* Ensures the table is scrollable on small screens */
}

.griditem table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f9f9f9;
}

/* Table Header Styling */
.griditem th {
    background-color: #7dafd0; /* Green header background */
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

th {
    background-color: #7dafd0; /* Green header background */
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;

}
/* Table Body Styling */
.griditem td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}


td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* Zebra striping for rows */
.griditem tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect for rows */
.griditem tr:hover {
    background-color: #f1f1f1;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Responsive Design: Make sure the table is not too wide on small screens */
